<div class="breadcrumbs">
  <small>
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
    {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title
    }} {% else %} &gt;
    {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    {% endif %} {% endfor %}
  </small>
</div>
