<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title != "Handbook" %}{{page.title}} | {% endif %}{{ site.title }}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
  />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="shortcut icon" href="/assets/img/Volkis_Icon.svg" />
  {% if jekyll.environment == "production" %} {% include google-analytics.html
  %} {% endif %}
</head>
