<ul>
  {% for item in include.items %}
  <li>
    {% if item.uri %}
    <a href="{{item.uri}}">{{item.text}}</a>
    {% else %} {{item.text}} {% endif %} {% if item.items %} {% include toc.html items = item.items %} {% endif %}
  </li>
  {% endfor %}
</ul>
